<div class="card m-3" style="width: 18rem;">
  <div class="card-body d-flex flex-column">
    <a href="{{ url_for('main.class_', class_id=class.id) }}" class="text-dark">
    <h3 class="card-title">{{ class.body }}</h3></a>
    <h6 class="card-subtitle mb-2 text-muted">
        {% if all_sections %}
            {% for section in all_sections %}
                <span class="badge badge-secondary">{{ section.body }}</span>
            {% endfor %}
        {% else %}
            <span class="badge badge-secondary">{{ class.school.body }}</span>
        {% endif %}
    </h6>

    <div class="mt-auto"></div>
    {% if class.description %}
        <p class="card-text">{{ class.description }}</p>
    {% endif %}

    {% for enrolled, section in zip(enrollment, all_sections) %}
        {% if enrolled %}
            <a href="{{ url_for('main.section', class_id=class.id, section_id=section.id) }}" class="btn btn-outline-secondary mb-2">Section {{ section.body }}</a>
        {% endif %}
    {% endfor %}
    <a href="{{ '/class/%s/' % class.id }}" class="btn btn-outline-secondary mb-2">View All Sections</a>

  </div>
</div>
