{% extends "base.html" %}

{% block app_content %}
{% if current_user.is_authenticated %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{ exam.section.class_.school.body }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.class_', class_id=exam.section.class_.id) }}">{{ exam.section.class_.body }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ exam.body }}</li>
    </ol>
</nav>
<div class="jumbotron">
    <h1 class="display-4">{{ exam.section.class_.body }} {{ exam.body }}</h1>
</div>
{% else %}
<div class="jumbotron mt-3">
    <h1 class="display-4">Hey there!</h1>
    <p class="lead">Let's get you quizzing! Click the button below to start!</p>
    <a class="btn btn-primary" href="{{ url_for('auth.login') }}"> Log in/Register </a>
</div>
{% endif %}

<input id="saveall" type="button" value="Save" class="btn btn-success" onclick="saveall('#saveall')">

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Topics:</h6>
        {% for exam_topic in exam_topics %}
            {% include 'main/_set_topic.html' %}
        {% endfor %}
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Study Set Terms:</h6>
        {% for term in set %}
            {% include 'main/_set_question.html' %}
        {% endfor %}
        {% include 'main/_set_question.html' %}
    <div id="content">
    </div>
    <input type="button" value="+" class="btn btn-primary btn-lg btn-block" onclick="addRow()">
</div>
{% endblock app_content %}

{% block scripts %}
    {{ super() }}
    <script>
    function saveall(destElem) {
        console.log("saveall pressed")
        var questions = $('textarea')
        .filter(function() {
            return this.id.match(/nquestion\d+|question\d+/);
        });
        var answers = $('textarea')
        .filter(function() {
            return this.id.match(/nanswer\d+|answer\d+/);
        });
        var savebuttons = $('span')
        .filter(function() {
            return this.id.match(/nsave\d+|save\d+/);
        });

        var zipped = [];

        for (var i=0; i<questions.length; i++) {
            var term_id = $(questions[i]).attr("term_id")
            var elem = [questions[i], answers[i], savebuttons[i], term_id]
            zipped.push(elem)
        }

        for (var i = 0; i < zipped.length; i++) {
            save(zipped[i][0], zipped[i][1], zipped[i][2], zipped[i][3])
        }

        console.log(destElem);

        $(destElem).val("Saved");
    }
    </script>
    <script>
    function save(question, answer, destElem, id) {
            $(destElem).html('<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>');
            $.post('/api/v1.0/questionanswer', {
                qbody: $(question).val(),
                abody: $(answer).val(),
                exam_id: {{ exam.id | safe }},
                prior_id: id
            }).done(function(response) {
                if (response['duplicate'] && id != response['id']) {
                    $(destElem).text('Duplicate Term')
                } else if (response['duplicate']) {
                    $(destElem).text('Not saved, blank term')
                } else {
                    $(question).prop('id', "#question${qid}".replace('${qid}', response['id']))
                    $(answer).prop('id', "#answer${aid}".replace('${aid}', response['id']))
                    $(destElem).html("<a href=\"javascript:save('#question${id}','#answer${id}','#save${id}');\">Saved</a>".replaceAll('${id}', response['id']))
                    $(destElem).prop('id', "#save${id}".replace('${id}', response['id']))
                }
            }).fail(function() {
                $(destElem).text("Error: Could not contact server.");
            });
        }
    </script>
    <script>
    var newRowCount = 0
    function addRow() {
        newRowCount += 1;
        document.querySelector('#content').insertAdjacentHTML(
            'beforeend',"<div class=\"input-group mb-3\"><textarea id=\"nquestion${count}\" type=\"text\" aria-label=\"Question\" placeholder=\"Question\" class=\"form-control mr-3 textarea-autosize\"></textarea><textarea id=\"nanswer${count}\" type=\"text\" aria-label=\"Answer\" placeholder=\"Answer\" class=\"form-control mr-3 textarea-autosize\"></textarea><span id=\"nsave${count}\"><a href=\"javascript:save('#nquestion${count}','#nanswer${count}','#nsave${count}','-1');\">Save</a></span></div>".replaceAll('${count}', newRowCount))
    }
    </script>
{% endblock %}
