{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
<div class="card">
    <div class="card-body flex-column">
        <h3 class="card-title">Propose a Class Section for {{ class_element.body }}</h3>
        <p class="card-subtitle text-muted">It will be approved after review and a small vote!</p>
        <br>
        <div class="row">
            <div class="col">
                {{ render_form(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
