{% extends "base.html" %}

{% block app_content %}

{% if current_user.is_authenticated %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{ current_user.school.body }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proposed Classes</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Suggested Classes for {{ current_user.school.body }}</h1>
    <p class="lead">Click "enroll" on one of the subjects below to get notified when it gets added!</p>
</div>
{% else %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proposed Classes</li>
    </ol>
</nav>

<div class="jumbotron mt-3">
    <h1 class="display-4">Hey there!</h1>
    <p class="lead">Let's get you quizzing! Click the button below to start!</p>
    <a class="btn btn-primary" href="{{ url_for('login') }}"> Log in/Register </a>
</div>
{% endif %}

{% if enrolled_classes > 0 %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Enrolled Classes:</h6>
    <div class="row">
    {% for class, exams, enrolled in enrolled_class_exams %}
        {% if enrolled %}
            {% include '_class.html' %}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}

{% if unenrolled_classes > 0 %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Other Classes:</h6>
    <div class="row">
    {% for class, exams, enrolled in unenrolled_class_exams %}
        {% if not enrolled %}
            {% include '_class.html' %}
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endif %}

<div class="card mt-3">
    <div class="card-header">
        Suggest New Class
    </div>
    <div class="card-body">
        <h5 class="card-title">Can't find the class you're looking for?</h5>
        <p class="card-text">Suggest a new class</p>
        <a href="{{ url_for('propose_class') }}" class="btn btn-primary">Propose class</a>
    </div>
</div>

{% endblock app_content %}
