{% extends "base.html" %}

{% block app_content %}

{% if current_user.is_authenticated %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{{ exam.exam_class.school.body }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.class_', class_id=exam.exam_class.id) }}">{{ exam.exam_class.body }}</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('main.exam', class_id=exam.exam_class.id, exam_id=exam.id) }}">{{ exam.body }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Suggested Topics</li>
    </ol>
</nav>

<div class="jumbotron">
    <h1 class="display-4">Suggested Topics for {{ exam.exam_class.body }} {{ exam.body }}</h1>
    <p class="lead">Click "add" on one of the topics below to add it to your study set!</p>
</div>
{% else %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Proposed Classes</li>
    </ol>
</nav>

<div class="jumbotron mt-3">
    <h1 class="display-4">Hey there!</h1>
    <p class="lead">Let's get you quizzing! Click the button below to start!</p>
    <a class="btn btn-primary" href="{{ url_for('login') }}"> Log in/Register </a>
</div>
{% endif %}

{% if unfollowed_topics > 0 %}
<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Topics:</h6>
    <div class="row">
    {% for exam_topic, question_count, unlock_percent, level, level_subtractor, following in exam_topic_question_counts %}
        {% include 'main/_topic.html' %}
    {% endfor %}
    </div>
</div>
{% endif %}

<div class="card mt-3">
    <div class="card-header">
        Suggest New Topic
    </div>
    <div class="card-body">
        <h5 class="card-title">Can't find the topic you're looking for?</h5>
        <p class="card-text">Suggest a new topic</p>
        <a href="{{ url_for('main.suggest_topic', class_id=exam.exam_class.id, exam_id=exam.id) }}" class="btn btn-primary">Propose topic</a>
    </div>
</div>

{% endblock app_content %}
