{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron mt-3">
        <h1 class="display-4">Hey {{ current_user.name.capitalize() }}!</h1>
        <p class="lead">You look great today</p>
        {% if user == current_user %}
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ url_for('main.edit_profile') }}" role="button">Edit your profile</a>
        </p>
        {% endif %}
    </div>

    {% if enrolled %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Enrolled Classes:</h6>
            <div class="row">
            {% for class, exams in class_exams %}
                {% include 'main/_class.html' %}
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if unenrolled %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Waitlisted Classes (pending approval):</h6>
            <div class="row">
            {% for class, exams in unenrolled_class_exams %}
                {% include 'main/_class.html' %}
            {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if questions %}
        <div class="my-3 p-3 bg-white rounded shadow-sm">
            <h6 class="border-bottom border-gray pb-2 mb-0">Questions you contributed:</h6>
            <div class="row">
            {% for question in questions %}
                {% include 'main/_question.html' %}
            {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
