
<div class="card m-3">
    <div class="card-body d-flex flex-column">
        <h3 class="card-text mb-2">Question: {{ question.body }}</h3>
        <h6 class="card-subtitle mb-2 text-muted">
            Topics:
            {% for question_topic in question_topics %}
                <span class="badge badge-secondary">{{ question_topic.topic.body }}</span>
            {% endfor %}
        </h6>
        <div class="mt-auto"></div>
        <div class="row">
            <div class="col">
                {{ render_field(entry.fair, class="custom-control-input") }}
                {{ render_field(entry.accurate_topics) }}
                {{ render_field(entry.skip) }}
            </div>
        </div>
    </div>
</div>
