<div class="card m-3" style="width: 18rem;">
    <div class="card-body d-flex flex-column">
        <a href="{{ 'exam/%s/' % exam.id }}" class="text-dark">
            <h3 class="card-title">{{ exam.body }}</h3>
        </a>
        <h6 class="card-subtitle mb-2 text-muted">
            {% for exam_topic in exam_topics %}
                <span class="badge badge-secondary">{{ exam_topic.topic.body }}</span>
            {% endfor %}
        </h6>
        {% if exam.description %}
            <p class="card-text">{{ exam.description }}</p>
        {% endif %}

        <div class="progress mb-2 mt-auto">
            <div class="progress-bar bg-secondary" data-toggle="tooltip" data-placement="top" title="Question Completion Percentage" role="progressbar" style="{{ 'width: {}%'.format(16) }}"></div>
        </div>
        <a href="{{ 'exam/%s' % exam.id}}" class="btn btn-outline-secondary mb-2">Contribute!</a>
    </div>
</div>
