<div class="card m-3" style="width: 18rem;">
    <div class="card-body">
        {% if not following %}
        <a href="{{ url_for('follow_topic', class_id=exam.exam_class.id, exam_id=exam.id, topic_id=exam_topic.topic_id) }}" class="btn btn-primary float-right mb-2 font-weight-bold">+</a>
        {% endif %}

        <a href="{{ 'topic/%s/' % exam_topic.topic.id }}" class="text-dark">
            <h3 class="card-title">{{ exam_topic.topic.body }}</h3>
        </a>

        <h6 class="card-subtitle mb-2 text-muted">
            <span class="badge badge-secondary">Questions: {{ question_count }}</span>
        </h6>

        {% if exam_topic.topic.description %}
            <p class="card-text">{{ exam_topic.topic.description }}</p>
        {% endif %}

        <div class="progress mb-2 mt-auto">
            <div class="progress-bar bg-success" data-toggle="tooltip" data-placement="top" title="Unlock Completion Percentage" role="progressbar" style="{{ 'width: {}%'.format(unlock_percent - level_subtractor) }}">{{ '{:.0f}%'.format(unlock_percent - level_subtractor) }}</div>
        </div>
        <h5 class="card-subtitle m-2 text-muted">
            <span class="badge badge-secondary">Unlock Level: <span class="badge badge-light">{{ level }}</span></span>
        </h5>
        <p class="card-subtitle text-muted">Topics can be unlocked by contributing 1 question, and evaluating 2 questions from others!</p>
        <a href="{{ url_for('contribute', class_id=exam.exam_class.id, exam_id=exam.id, topic_id=exam_topic.topic_id) }}" class="btn btn-outline-primary mb-2">Evaluate Questions (+5%)</a>
        <a href="{{ url_for('contribute_question', class_id=exam.exam_class.id, exam_id=exam.id, topic_id=exam_topic.topic_id) }}" class="btn btn-outline-primary mb-2">Add Question (+25%)</a>
    </div>
</div>
