{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block app_content %}
        <h1> {{ question.body }} <h1>
        {% if topics %}
            <h3> Subtopics:
            {% for topic in topics %}
                <span class="badge badge-secondary">{{ topic.body }}</span>
            {% endfor %}
            </h3>
        {% endif %}
        <br>
        Evaluate:
        <div class="row">
            <div class="col-md-4">
                {{ render_form(form) }}
            </div>
        </div>
{% endblock %}
