{% extends "base.html" %}

{% block app_content %}
<div class="card m-3" style="width: 18rem;">
  <div class="card-body">
    <h3 class="card-title">{{ question.body }}</h3>
    <h6 class="border-bottom border-gray pb-2 mb-0 card-subtitle text-muted">Answers</h6>
    {% for answer in answers %}
        {% if answer.correct %}
        <span class="badge badge-success">{{ answer.body }}</span>
        {% else %}
        <span class="badge badge-secondary">{{ answer.body }}</span>
        {% endif %}
    {% endfor %}
    <br>
    <br>
    <h6 class="card-subtitle text-muted">Author:
    <span class="badge badge-primary mb-3">{{ question.author.username }}</span></h6>
    {% if current_user.is_authenticated %}
    {% if question.author.id == current_user.id %}
    <a href="{{ '/delete_question/%s' % question.id }}" class="btn btn-outline-primary">Delete Question</a>
    {% endif %}
    {% endif %}
  </div>
</div>
{% endblock %}
